doctype html 
html 
    head 
        style 
            include contact.css 
    body 
        div.heading
            img(src="/logo.png" alt="")
            h1 Care
        div.nav
            a.home(href="/")
                span Home 
            a.About(href="/Register")
                span Register
            a.contact(href="resources")
                span Resources
            a.collaborate(href="#")
                span Contact 
        div.container
            div.para1
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem mollitia tempore quasi tenetur odio ut, molestiae distinctio voluptatem debitis.  