doctype html 
html 
    head 
        style 
            include home.css 
    body 
        div.heading
            img(src="/logo.png" alt="")
            h1 Care
        div.nav
            a.home(href="#")
                span Home 
            a.About(href="Register")
                span Register
            a.contact(href="resources")
                span Resources
            a.collaborate(href="contact")
                span Contact
        div.container
            div.para1
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa incidunt aut perspiciatis similique, in rerum voluptatum totam nulla aspernatur quidem ea impedit ad reiciendis eligendi commodi dolorem tempora nemo deleniti qui. Voluptatem, sapiente! Libero corporis reiciendis deserunt. At corrupti explicabo eaque exercitationem tempora odit provident ex quisquam possimus incidunt nulla, alias hic omnis cumque pariatur eius officiis a! Unde repellat adipisci quae quo, quia doloribus quasi veritatis illum ex blanditiis magnam doloremque dignissimos nesciunt quidem aut. Autem non asperiores ipsum impedit? Minima tenetur illum, officiis eius, dolor veniam debitis doloremque atque labore et exercitationem voluptatibus. Qui assumenda omnis dicta nesciunt.
            div.para2 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum rem nihil quos, necessitatibus explicabo mollitia error aut totam odit eum magnam adipisci sapiente laudantium, harum laborum voluptatibus accusamus nemo alias? Officiis unde quibusdam dolor quis voluptatibus earum deserunt similique accusantium omnis maiores quae id vitae obcaecati recusandae voluptates, cupiditate commodi qui nihil dolore tempore! Quia, nihil alias est eaque laboriosam molestias. Eveniet dolorum architecto aliquam ullam incidunt omnis enim molestias. Numquam reiciendis eius corporis aperiam excepturi sed, amet minima? Voluptatibus.
            div.para3
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed facilis sit et itaque ad cumque corrupti quisquam officia exercitationem, obcaecati vitae eveniet? Magni fuga dolorem hic ex provident, vero temporibus repellat ad nesciunt adipisci commodi quas eum culpa. Aliquid nostrum animi tempore distinctio similique dolore itaque aspernatur reiciendis ab autem exercitationem, consequatur amet deleniti vitae tempora, illum odit excepturi nisi rerum. Assumenda dolor tempora, consequuntur sequi ratione officia ullam ut sint debitis fuga iste qui nemo aspernatur saepe quia maiores?
